/* src/global.css */
html, body {
    height: 100%;
}

body {
    @apply bg-gradient-to-b from-neutral-900 to-gray-900;
    margin: 0; /* Removes any default margin */
    display: flex; /* Optional: for content alignment */
    flex-direction: column; /* Optional: for vertical alignment */
}
